<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Estudiantes</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombres:</label>
                    <input type="text" name="name" [(ngModel)]="estudiante.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellidos:</label>
                    <input type="text" name="lastName" [(ngModel)]="estudiante.lastName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Codigo:</label>
                    <input type="text" name="code" [(ngModel)]="estudiante.code" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">DNI:</label>
                    <input type="text" name="dni" [(ngModel)]="estudiante.dni" class="form-control">
                </div>
                <button  (click)="Guardar()" class="btn btn-danger" style="margin-top: 10px;">Guardar</button>
            </form>
        </div>
    </div>
</div>